/* Tailwind Setup */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("react-toastify/dist/ReactToastify.css");

@layer base {
    /* Specify default font below */
    html {
        font-family: "DM Sans", sans-serif;
    }

    /* Remove daisy ui outline on form elements */
    .input:focus,
    .select:focus,
    .textarea:focus,
    .file-input:focus {
        @apply outline-0 !important;
    }

    /* Reset daisy ui default */
    .select {
        @apply font-normal !important;
    }

    /* Number Input Reset */
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        margin: 0;
        -webkit-appearance: none;
    }
}
